.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writer,
.diary-content,
.emotion {
  margin-bottom: 20px;
  width: 500px;
}

.line {
  width: 100vw;
  height: 1px;
  background-color: black;
  margin-top: 30px;
}